[submodule "coresdk/external"]
	path = coresdk/external
	url = https://github.com/splashkit/splashkit-external
[submodule "tools/translator"]
	path = tools/translator
	url = https://github.com/splashkit/splashkit-translator
