[submodule "coresdk/external/civetweb"]
	path = coresdk/external/civetweb
	url = https://github.com/jarmstrong/civetweb
[submodule "coresdk/external/sqlite"]
	path = coresdk/external/sqlite
	url = https://github.com/splashkit/sqlite.git
