# Getting Started with SplashKit

SplashKit is designed to help make learning to program fun and engaging.

## Example Program

<div> <!-- wrap HTML in a div -->
  <%= code_snippet data.code_snippets.getting_started.gist_id, data.code_snippets.getting_started.filename %>
</div>